extends layout

block content

  if registrations.length
    table.table.table-bordered.table-striped.mt-5
      thead.table-dark
        tr
         th Name
         th Email
      tbody
      each registration in registrations
        tr
          td= registration.name
          td= registration.email
  else
    p No registrations yet :(
