body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  max-width: 350px;
  margin: auto;
}

.form-wrapper .form-control,
.form-wrapper .btn {
  width: 100%;
}

.error-messages {
  color: red;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.error-messages li:before {
  content: "•";
  margin-right: 5px;
}
